/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100..900&display=swap');

/* Global Styles */
:root {
  --primary-color: #dcdcdc; /* Light Gray */
  --secondary-color: #b0c4de; /* Light Steel Blue */
  --background-color: #f8f9fa; /* Light Background */
  --text-color: #333333; /* Darker Gray for Text */
  --button-bg: #6c757d; /* Gray for Buttons */
  --button-hover: #5a6268; /* Darker Gray for Button Hover */
  --card-bg: #ffffff; /* White for Cards */
  --shadow-color: rgba(0, 0, 0, 0.1);
  font-family: 'Inter Tight', Arial, sans-serif;
  color: var(--text-color);
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: var(--background-color);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  padding: 20px; /* Added padding */
}

h1 {
  font-size: 2.5em; /* Slightly larger font size */
  margin-bottom: 20px; /* Added margin */
}

a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  color: var(--button-hover);
}

button {
  border-radius: 8px;
  padding: 1em 2em; /* Wider padding */
  font-size: 1.1em; /* Slightly larger font */
}